<div class="modal fade" id="disconnectedModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Attempting to connect to server...</p>
            </div>
        </div>
    </div>
</div>