<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js" 
    integrity="sha256-dwhppIrxD8qC6lNulndZgtIm4XBU9zoMd9OUoXzIDAE=" crossorigin="anonymous"></script>
<% path = require('path') %>
<%
    let primaryConfigFile = 'config.json';
    if (config.configOverride) {
        if (config.configOverride instanceof String) {
            primaryConfigFile = config.configOverride;
        } else if (config.configOverride.length) {
            primaryConfigFile = config.configOverride[0];
        }
    }
%>
<div class="error bg-danger">
    <div class="d-flex flex-column">
        <p class="text-white">
            SoulLink is not enabled in config.  Set the following in 
            <code class="bg-light px-1 mx-1 text-dark"><%- path.resolve(primaryConfigFile) %></code>:
        </p>
        <div id="md" class="rounded"></div>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();
    window.onload = () => {
        let $md = $('#md'),
            converter = new showdown.Converter(),
            html = converter.makeHtml(`
\`\`\`json
{
    "nuzlocke": {
        "enabled": true
    },
    "soulLink": {
        "enabled": true
    }
}
\`\`\`
`);

        $md.html(html);
        hljs.highlightBlock($md.children()[0]);
    }
</script>