<!-- TODO
<div class="modal fade" id="shinyStaticMismatchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Start New Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Starting a new game will erase all current Nuzlocke and SoulLink information.  Start a new game?
                </p>
                <div class="alert alert-danger d-none error-msg">
                    The server did not respond in a reasonable amount of time.  Is the server running?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmNewGameButton" class="btn btn-warning">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
-->