$showWhenEmpty: null !default;

$elements: 'level', 'species', 'nickname', 'deathMessage1', 'deathMessage2', 'deathMessage3',
  'sl-level', 'sl-species', 'sl-nickname';

@each $element in $elements {
  .#{$element} {
    display: block;

    @if $showWhenEmpty != null and index($showWhenEmpty, $element) == null {
      &:empty {
        display: none;
      }
    }
  }
} 

.level {
  @extend %baseText;
  @extend %levelText !optional;

  @if variable-exists(levelPrefix) {
    &:not(:empty)::before {
      content: $levelPrefix;

      .dead & {
        display: none;
      }
    }
  }
}

.species {
  @extend %baseText;
  @extend %speciesText !optional;
}

.nickname {
  @extend %baseText;
  @extend %nicknameText !optional;

  &.no-nickname {
    font-variant: small-caps;
  }
}

.deathMessage1 {
  @extend %baseText;
  @extend %deathMessageText !optional;
  @extend %deathMessage1Text !optional;
}

.deathMessage2 {
  @extend %baseText;
  @extend %deathMessageText !optional;
  @extend %deathMessage2Text !optional;
}

.deathMessage3 {
  @extend %baseText;
  @extend %deathMessageText !optional;
  @extend %deathMessage3Text !optional;
}