@keyframes rotating {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

img.icon {
  margin-top: auto;
  margin-bottom: auto;

  width: 40px;
  min-width: 40px;

  &:not([src]) {
    visibility: hidden;
  }

  &.void {
    animation: rotating 5s linear infinite;
  }
}