.manager {
  margin-top: 40px;
}

#pokemonTable tbody {
  min-height: 2.5em;
  
  > tr {
    &:nth-last-of-type(even) {
      background-color: rgba(0,0,0,.05);
    }

    &.placeholder:not(:only-child) {
      display: none;
    }
    
    &:not(.placeholder) {
      > td {
        padding-top: 0;
        padding-bottom: 0;

        > div {
          height: 0;
          margin: 0;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 2.5em;
          overflow: hidden;
          opacity: 0;
          position: relative;

          display: flex;
        }
      }
      
      &.show > td > div {
        height: 2.5em;
        opacity: 1;
      }
    }
  }
  
  &.slide-up, &.slide-down {
    > tr > td > div {
      transition: all .5s ease-out;
    }
  }

  &.slide-up > tr > td > div {
    bottom: 0;
  }
}

.nickname:not(:empty):after {
  content: "/";
  margin: 0 8px;
}
