.manager {
  margin-top: 40px;
}

#pokemonTable { 
  margin-bottom: 0;
  
  tbody > tr {
    &.show, &.placeholder {
      > td > div {
        height: 2.5em;
        opacity: 1;
      }
    }

    &, &.show ~ .placeholder {
      > td {
        padding-top: 0;
        padding-bottom: 0;

        > div {
          height: 0;
          margin: 0;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 2.5em;
          overflow: hidden;
          opacity: 0;
          position: relative;
          
          display: flex;
          transition: all .5s ease-out;
        }
      }
      
      &.placeholder > td > div {
        align-content: space-around;
      }
      
      &:not(.placeholder):nth-last-of-type(odd) {
        background-color: rgba(0,0,0,.05);
      }
    }
  }
}

.nickname:not(:empty):after {
  content: "/";
  margin: 0 8px;
}
