@import './configSass.js';

$totalWidth: $imageSideLength + $leftElementWidth + $rightElementWidth;
$totalHeight: $imageSideLength + $topElementHeight + $bottomElementHeight;

@import './body';
@import './slot';
@import './image';
@import './text';
@import './nuzlocke';

#err {
  color: red;
  &:empty {
    display: none;
  }
}