@import './configSass.js';
@import './helpers';

$totalSlotWidth: $imageSideLength + $leftElementWidth + $rightElementWidth !default;
$totalSlotHeight: $imageSideLength + $topElementHeight + $bottomElementHeight !default;

@import './body';
@import './slot';
@import './image';
@import './text';
@import './nuzlocke';
@import "./soulLink";

#err {
  color: red;
  &:empty {
    display: none;
  }
}