.link-dropdown {
  white-space: nowrap;

  select {
    display: inline-block;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;

    [value="-1"]:not(:only-child) {
      display: none;
    }

    &.no-links {
      @extend .text-muted;
    }
  }
}