.traits {
  text-align: center;

  &:not(.static), &.static.maybe {
    img.static-icon {
      display: none;
    }
  }
  
  &:not(.maybe), &:not(.static) {
    img.static-maybe-icon {
      display: none;
    }
  }
  
  &:not(.shiny) {
    img.shiny-icon {
      display: none;
    }
  }
  
  &.shiny, &.static, &.static.maybe {
    img.boring-icon {
      display: none;
    }
  }
}